{% unless page.redirect %}
  {% if site.google_analytics %}
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google_analytics }}');
    </script>
  {% endif %}

  <!--[if gt IE 9]><!---->
  {% capture js_url %}{% link assets/js/hydejack-7.5.0.js %}{% endcapture %}
  <script>loadJSDeferred('{{ js_url | relative_url }}');</script>
  {% include my-scripts.html %}
  <!--<![endif]-->
{% endunless %}
